a.basicCard {
  text-decoration: none;
}
.cardWrapper {
  position: relative;
  border: 1px solid #999;
  box-shadow: 2px 2px 8px 2px rgba(153,153,153,0.5);
}
.cardFigure {
  height: 100%;
}
.grid .basicCard .cardImage,
.basicCard .cardImage {
  position: relative;
  display: block;
  height: 250px;
}
.cardImage img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.cardCaption {
  background: #fff;
  border-top: 1px solid #999;
  display: block;
  width: 100%;
  color: #000;
  padding: 12px;
  height: 100px;
}

.cardCaption h2 {
  font-size: 18px;
  font-weight: 500;
}
.list .basicCard .cardCaption h2 {
  font-weight: 600;
}
.grid .basicCard .cardAdditional {
  display: none;
}

.list .basicCard .cardWrapper {
  background: #fff;
  height: 250px;
  overflow: hidden;
}

.list .basicCard .cardFigure {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.list .basicCard .cardImage {
  display: inline-block;
}
.list .basicCard .cardImage img {
  display: inline-block;
  height: 250px;
  width: 250px
}
.list .basicCard .cardCaption {
  background: none;
  border-top: none;
  border-left: 1px solid #999;
  color: #000;
  height: 250px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 250px);
}

.list .basicCard .cardAdditional {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
