.multiColumn-1,
.multiColumn-2,
.multiColumn-3,
.multiColumn-4,
.multiColumn-5 {
  margin: 1em 0;
  vertical-align: top;
  width: 100%;
}

.col {
  display: inline-block;
  margin: 0 .5rem 0 .5rem;
  padding: 0;
  vertical-align: top;
}

/* one column */
.multiColumn-1 .col {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* two columns */
.multiColumn-2 .col {
  width: calc( 50% - .5rem);
}
.multiColumn-2 .col:first-of-type {
  margin-left: 0;
}
.multiColumn-2 .col:last-of-type {
  margin-right: 0;
}

/* three columns */
.multiColumn-3 .col {
  width: calc( 100% / 3 -  2rem / 3);
}
.multiColumn-3 .col.col-span-2 {
  width: calc( 200% / 3 -  1rem / 3);
}
.multiColumn-3 .col:first-of-type {
  margin-left: 0;
}
.multiColumn-3 .col:last-of-type {
  margin-right: .0;
}

/* four columns */
.multiColumn-4 .col {
  width: calc( 25% -  3rem / 4);
}
.multiColumn-4 .col.col-span-2 {
  width: calc( 50% -  2rem / 4);
}
.multiColumn-4 .col.col-span-3 {
  width: calc( 75% -  1rem / 4);
}
.multiColumn-4 .col:first-of-type {
  margin-left: 0;
}
.multiColumn-4 .col:last-of-type {
  margin-right: 0;
}

/* five columns */
.multiColumn-5 .col {
  width: calc( 20% -  4rem / 5);
}
.multiColumn-5 .col.col-span-2 {
  width: calc( 40% -  3rem / 5);
}
.multiColumn-5 .col.col-span-3 {
  width: calc( 60% -  2rem / 5 );
}
.multiColumn-5 .col.col-span-4 {
  width: calc( 80% -  1rem / 5);
}
.multiColumn-5 .col:first-of-type {
  margin-left: 0;
}

.multiColumn-5 .col:last-of-type {
  margin-right: 0;
}


@media (max-width: 880px) {
  .col {
    display: block;
    margin: .5rem 0 .5rem 0 !important;
    width: 100% !important;
  }
}
