.navBarInner {
  height: 70px;
  width: calc(100vw - 60px);
}

.navBarInner nav {
  display: inline-block;
  margin: 0 auto;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
}
.navBarInner a {
  text-decoration: none;
  font-size : 1rem;
}
.navBarInner nav a {
  padding: 16px;
}

.hamburger {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: calc(100vw - 300px);
  z-index: 10;
}

.hamburger button {
  display: none;
}

@media (min-width: 1600px) {
  .navBarInner {
    margin: 0 auto;
    width: 1540px;
  }

  .hamburger {
    width: calc(1540px - 200px);
  }
}

@media (max-width: 800px) {
  .hamburger {
    width: calc(100vw - 260px);
  }
  .hamburger button {
    border: none;
    display: block;
    height: 70px;
    float: right;
  }

  .hamburger button:focus {
    outline: none;
  }

  .hamburgerIcon {
    display: inline-block;
    float: right;
    height: 30px;
    margin: 20px;
    width: 30px;
  }

  .hamburgerInnerOpen {
    display: block;
    left: -240px;
    position: absolute;
    top: 70px;
    width: 100vw;
  }

  .hamburgerInnerOpen nav {
    display: block;
    height: auto;
  }

  .hamburgerInnerOpen a {
    border-top: 1px solid #666;
    display: block;
    font-size: 1.25rem;
    width: 100vw;
  }

  .hamburgerInnerClosed {
    display: none;
  }

  .navBar a  {
    font-size: 1.25rem;
  }

  .navBarInner {
    width: 100vw;
  }
}
