
.footerInner {
  width: 100%;
}

.footerText,
.footerCenter,
.footerLinks {
  padding: 2rem;
  vertical-align: top;
}

.footerText p,
.footerText address {
  line-height: 1.5rem;
  margin: 0 .25rem;
}
.footerLinks a {
  display: block;
}
@media (max-width: 800px) {
  .footerText {
    font-size: 1.5rem;
    text-align: center;
  }
  .footerLinks {
    text-align: center;
    vertical-align: top;
  }
  .footerLinks a {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
}

@media (min-width: 1600px) {
  .footerInner {
    margin: 0 auto;
    width: 1600px;
  }
}
