.edit {
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

input.editText {
  background: #fff;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  font-size: 19px;
  height: 40px;
  margin-bottom: 2rem;
  max-width: 100%;
  padding-left: 10px;
  vertical-align: top;
  width: 800px;

}

textarea.editTextArea {
  background: #fff;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  font-size: 16px;
  height: 14rem;
  line-height: 1.45rem;
  margin-bottom: 2rem;
  max-width: 100%;
  min-height: 6rem;
  overflow: auto;
  padding: 1rem;
  resize: vertical;
  vertical-align: top;
  width: 800px;
}
textarea.editTextArea:disabled,
input.editText:disabled {
  background: #efefef;
  cursor: not-allowed;
}

.editLabel {
  display: block;
  margin-bottom: .5rem;
}

.editGroup {
  background: #fff;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  margin-bottom: 2rem;
  max-width: 100%;
  padding: 1rem;
  width: 800px;
}

.editGroup input {
  font-size: 16px;
  height: 36px;
  margin-bottom: 1rem;
  min-width: 100%;
  padding: 0 0.5rem;
  vertical-align: top;
}

.buttonGroup {
  text-align: right;
  max-width: 100%;
}

.buttonGroup button {
  margin-left: .5rem;
}

.gravatarEdit {
  border: 1px solid #dedede;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  padding: 1rem;
}
.gravatarEdit img {
  width: 100px;
}
.gravatarEdit span {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: top;
}
