
.inputBox {
  width: 95%;
  background-color: khaki;
  border: 1px solid grey;
  height: 150px;
  display:block;
  padding: 10px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.inputBoxLabel {
  width: 95%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  float: left;
}
.inputText {
  width: 95%;
  background-color: khaki;
  height: 30px;
  display:block;
  padding-left: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
}
.inputTextLabel {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  display: block;
}
.formText {
  color: red;
  font-size: .8em;
  padding-left: 20px;
}
.inputRadio {
  float: left;
  margin-top: 12px;
}
.inputRadioLabel {
  float: left;
  margin-top: 10px;
  padding-left: 15px;
}
.inputRadioGroup {
  padding-left: 85px;
}
.alert {
  color: red;
  font-size: .8em;
  padding-left: 20px;
}
.categoryAlert {
  float: left;
}
.submit {
  width: 90px;
  height: 35px;
  background-color: #007d89;
  color: #FFFFFF;
  font-size: 18px;
  margin: 12px;
  text-transform: uppercase;
  cursor: pointer;
}