body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
.accessibilityOnly {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

.clearfix {
  clear: both;
}

.sk-search-box {
  border: 1px solid #999;
}
.sk-search-box input.sk-search-box__text {
  color: black !important;
}
.sk-panel {
  border-bottom: 1px solid #999;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.sk-range-slider {
  padding-left: .75rem;
  padding-right: .75rem;
}
