.container {
  background-color: white;
  border: 1px solid #dedede;
  margin-bottom: 1rem;
}

.handle {
  background-color: #efefef;
  border-bottom: 1px solid #dedede;
  height: 40px;
  width: 100%;
}
.handle img {
  padding: 8px;
}
