.cartouche {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 20px;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.45rem;
  padding: 0.25rem 1rem;
  text-decoration: none;
  vertical-align: top;
}
.gravatarWrapper {
  display: inline-block;
  height: 22px;
  margin-right: .25rem;
  overflow: hidden;
  vertical-align: top;
  width: 22px;
}
