.alternateLink {
  display: inline-block;
  height: calc( 35vw / 4 - 3rem / 4);
  width: calc( 35vw / 4 - 3rem / 4);
  margin: 0 0.33rem;
  position: relative;
}
.alternateLink:first-of-type {
  margin-left: 0;
}

.alternateLink:last-of-type {
  margin-right: 0;
}

.alternateImage {
  display: block;
  height: 100%;
  width: 100%;
}

.alternateImage img {
  display: block;
  height: auto;
  width: 100%;
}
