.alternateLink {
  display: inline-block;
  height: calc( 35vw / 4 - 3rem / 4);
  width: calc( 35vw / 4 - 3rem / 4);
  margin: 0 0.33rem;
  position: relative;
}
.alternateLink:first-of-type {
  margin-left: 0;
}

.alternateLink:last-of-type {
  margin-right: 0;
}

.alternateImage {
  display: block;
  height: 100%;
  width: 100%;
}

.alternateImage img {
  display: block;
  height: auto;
  width: 100%;
}

@media (max-width: 780px) {
  .alternateLink {
    height: calc( 25vw - 5rem/4);
    margin: 0.5rem;
    width: calc( 25vw - 5rem/4);
  }
}

@media (min-width: 1280px) {
  .alternateLink {
    height: calc( 156px - 5rem/4);
    margin: 0.5rem;
    width: calc( 156px - 5rem/4);
  }
}
