.value {
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

.description {
  display: inline-block;
  padding: 0 0 0 2rem;
  vertical-align: top;
  width: calc(100% - 100px);
}
