.noPreMainPadding {
  margin: 0;
}
.mainPadding {
  background-color: white;
  margin: 1rem auto;
  min-height: calc(100vh - 50px - 70px - 64px - 1.8rem*2);
  width: calc(100% - 4rem);
}
.noMainPadding {
  background-color: white;
  margin: 0;
  min-height: calc(100vh - 50px - 70px - 64px);
}

@media (max-width: 1024px) {
  .mainPadding {
    margin: 1rem 2rem;
    width: calc(100% - 4rem)
  }
}
@media (max-width: 780px) {
  .mainPadding {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

@media (min-width: 1600px) {
  .mainPadding {
    margin: 1rem auto;
    width: 1540px;
  }
}
