.multiColumn-1,
.multiColumn-2,
.multiColumn-3,
.multiColumn-4,
.multiColumn-5 {
  margin: 1em 0;
  vertical-align: top;
  width: 100%;
}

/* one column */
.multiColumn-1 .col-1 {
  display: inline-block;;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 100%;
}

/* two columns */
.multiColumn-2 .col-1 {
  display: inline-block;;
  margin: 0;
  margin-right: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 50% - .25rem);
}
.multiColumn-2 .col-2 {
  display: inline-block;
  margin: 0;
  margin-left: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 50% - .25rem);
}

/* three columns */
.multiColumn-3 .col-1 {
  display: inline-block;
  margin: 0;
  margin-right: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 100% / 3 -  1rem / 3);
}
.multiColumn-3 .col-2 {
  display: inline-block;
  margin: 0;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 100% / 3 -  1rem / 3);
}
.multiColumn-3 .col-3 {
  display: inline-block;
  margin: 0;
  margin-left: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 100% / 3 -  1rem / 3);
}

/* four columns */
.multiColumn-4 .col-1 {
  display: inline-block;
  margin: 0;
  margin-right: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 25% -  1.5rem / 4);
}
.multiColumn-4 .col-2,
.multiColumn-4 .col-3 {
  display: inline-block;
  margin: 0;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 25% -  1.5rem / 4);
}
.multiColumn-4 .col-4 {
  display: inline-block;
  margin: 0;
  margin-left: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 25% -  1.5rem / 4);
}

/* five columns */
.multiColumn-5 .col-1 {
  display: inline-block;
  margin: 0;
  margin-right: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 20% -  2rem / 5);
}
.multiColumn-5 .col-2,
.multiColumn-5 .col-3,
.multiColumn-5 .col-4 {
  display: inline-block;
  margin: 0;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 20% -  2rem / 5);
}
.multiColumn-5 .col-5 {
  display: inline-block;
  margin: 0;
  margin-left: .25rem;
  padding: 0;
  vertical-align: top;
  width: calc( 20% -  2rem / 5);
}

/* TODO @media for responsive */
