.standardLayout {
  width: 100%;
}

.defaultAsideClass {
  display: inline-block;
  padding-right: 1rem;
  vertical-align: top;
  width: 240px;
}
.defaultAsideClass nav {
  display: inline-grid;
}
.asideLayout {
  display: inline-block;
}
.asideLayout .mainArticle {
  display: inline-block;
  padding-left: 1rem;
  vertical-align: top;
  width: calc(70vw - 240px);
}

@media (max-width: 1024px) {
  .asideLayout .mainArticle {
    display: inline-block;
    padding-left: 1rem;
    vertical-align: top;
    width: calc(100vw - 240px - 4rem);
  }
}

@media (max-width: 780px) {
  .defaultAsideClass {
    display: block;
    margin-bottom: 2rem;
    padding: 0;
    vertical-align: top;
    width: 100vw;
  }
  .defaultAsideClass nav {
    display: block;
    margin-bottom: 2rem;
  }
  .asideLayout {
    display: block;
  }
  .asideLayout .mainArticle {
    display: block;
    padding: 0;
    vertical-align: top;
    width: calc(100vw - 4rem);
  }
}


@media (min-width: 1600px) {
  .asideLayout .mainArticle {
    display: inline-block;
    padding-left: 1rem;
    vertical-align: top;
    width: 1300px - 300px;
  }
}
