.home.mainContent {
  position: relative;
	margin-top: 0;
  margin-bottom: 1rem;
	width: 1280px;
}

.banner {
	position: relative;
	height: 363px;
}

.bannerImage {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.imageCaption {
	position: relative;
	top: 50px;
	left: 0;
	width: 724px;
	padding: 12px 12px 115px 12px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 5;
	margin: 0 auto;
	color: #fff;
	box-sizing: border-box;
	font-weight: bold;
}

.imageCaption h1 {
	margin: 0;
	font-size: 24px;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	text-align: center;
	font-size: 28px;
}

.imageCitation {
	margin-top: 8px;
	position: absolute;
	bottom: 0;
	width: 100%;

	padding: 10px;

}

p.citation {
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.65);
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	color: #fff;

	max-width: 960px;
	margin: 0 auto;




}

p.citation sub {
	background: rgba(0, 0, 0, 0.5);
	padding: 3px;
	white-space: pre;
}

.imageCaption sub {
	font-size: 10px;
	display: block;
	line-height: 1.3em;
}

.captionFrame {
	max-width: 960px;
	margin: 0 auto;
}

.home .submitSearch {
	height: 62px;
}

.home .searchComponent {
	position: absolute;
	top: 165px;
	z-index: 9;
	left: 280px;
}

.home .searchComponent {
	width: 700px;
}

.home .searchbar {
	width: 635px;
	height: 60px;
}

.featured {
	margin-top: 5em;
}

.featured .cell img {
	width: 100%;
	display: block;
}

.featured figure {
	position: relative;
}

.featured figcaption {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	width: 100%;
	color: #fff;
	padding: 12px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 24px;
}

.advancedSearch a {
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.65);
}
