@media screen and (min-width: 620px) {
  .feedbackButton {
    position:fixed;
    bottom:350px;
    right:25px;
    font-weight:bold;
    border:1px solid black; 
    color:#FFFFFF; 
    background-color:#007d89; 
    text-decoration: none; 
    text-align:center; 
    width:40px; 
    height:150px; 
    padding-left: 8px; 
    writing-mode: vertical-lr;
    transform:rotateZ(180deg);
    cursor: pointer;
  }
}
@media screen and (max-width: 619px) {
  .feedbackButton {
    position:fixed;
    display:block;
    bottom:10px;
    right:25px;
    font-weight:bold;
    border:1px solid black; 
    color:#FFFFFF; 
    background-color:#007d89; 
    text-decoration: none; 
    text-align:center;
    padding-top: 7px;
    width:150px; 
    height:40px;
    cursor: pointer;
  }
}
.ReactModal__Body--open {
  overflow-y: hidden;
}

.modal {
  background-color: #fff;
  top: 3em;
  left: 3em;
  bottom: auto;
  height: auto;
  width: fit-content;
  margin: 7em auto;
  transform: none;
  box-shadow: 0 0 8px 5px #00000055;
  border-radius: 15px;
}
.modal:focus {
  outline: 0;
}

.modaloverlay {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-body {
  display: flex;
  flex-flow: column nowrap;
  color: #001E45;
  font-size: 1em;
  font-family: GPMed, sans-serif;
  border-radius: 15px;
  max-height: calc(100vh - 118px);
  overflow-y: auto;
  padding: 1em;
}
.container {
  background-color: #ffffff;
  width:500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid grey;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.headingContainer {
  background-color:#007d89;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.headingContainer h2 {
  font-weight:bold;
  font-size:1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color:#FFFFFF; 
  text-align:left;
  margin: 0px;
  padding-left: 30px;
  padding-top: 6px;
  width: 75%;
  float: left;
}
.closebutton {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 4px;
  float: right;
  padding-top: 8px;
  padding-left: 8px;
  border-left: 1px;
  color: #FFFFFF;
}