.isPrivate {
  color: white;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 10px;
  font-size: .75rem;
  font-variant: small-caps;
  font-weight: normal;
  padding: 0.1rem .5rem;
  vertical-align: middle;
}

.isPublic {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 10px;
  font-size: .75rem;
  font-variant: small-caps;
  font-weight: normal;
  padding: 0.1rem .5rem;
  vertical-align: middle;
}
