.pageOptions {
  text-align: center;
  width: 100%;
}
.pageOptions a {
  color: #333;
  display: inline-block;
  font-weight: 500;
  padding-bottom: .5rem;
  text-decoration: none;
  width: 50%;
}
.bio {
  margin: 1rem 0;
}
@media screen and (max-width: 880px) {
  .identityGroup img {
    display: inline-block;
    height: 100px;
    margin-bottom: 1rem;
    width: 100px;
  }
  .identity {
    margin-left: 1rem;
    display: inline-block;
    vertical-align: top;
  }
  .identity h1 {
    margin-top: 0;
  }
  .identity h2 {
    line-height: 0;
  }
}
