.manifestCardWrapper {
  cursor: pointer;
  position: relative;
}

.typeLabel {
  background: white;
  border: 1px solid #999;
  box-shadow: 2px 2px 4px 1px rgba(90,90,90,0.1);
  font-size: 1.1rem;
  font-style: italic;
  font-variant: all-small-caps;
  font-weight: 600;
  left: -10px;
  line-height: 40px;
  position: absolute;
  top: 10px;
  border-radius: 100px;
  height: 48px;
  width: 48px;
  vertical-align: middle;
}

.typeLabel img {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  width: 24px;
  position: absolute;
  left: 11px;
  top: 11px;
}
