.cardWrapper {
  position: relative;
}
.cardWrapper strong{
  bottom: .75rem;
  right: 1rem;
  position: absolute;
}
.deleteButton {
  padding: 6px;
  text-align: right;
}
.deleteButton button{
  width: 90px;
}
