.searchComponent {
  border: 1px solid #999;
  box-shadow: 2px 2px 8px 2px rgba(153,153,153,0.5);
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0;
  width: 80%;
}

.message {
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding: .25rem 0 .75rem 0;
}

.searchBox {
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,.4);
  border: none;
  background: #fff;
  margin: 0 auto;
  width: calc(100% - 40px);
}

.searchField {
  background: #fff;
  border: none;
  font: 19px helvetica;
  height:40px;
  padding-left: 10px;
  vertical-align: top;
  width: calc(100% - 65px);
}

.advancedSearch {
  text-align: right;
  font-size: 12px;
  padding: 5px 3px;
}

.advancedSearch {
  color: #000;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 10px;
  text-decoration: none;
}

.searchIcon {
  width: 30px;
  height: 30px;
  padding: 4px;
}

.searchButton {
  border:none;
  border-left: 1px solid #dedede;
  height: 40px;
  width:65px;
}

@media (max-width: 1280px) {
  .searchComponent {
    width: 100%;
  }
}
