.cardWrapper {
  height: 100%;
  position: relative;
}
.cardFigure {
  height: 100%;
}
.cardImage img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.cardCaption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: block;
  width: 100%;
  color: #fff;
  padding: 12px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
}
.additional {
  display: none;
}
