
.footerInner {
  width: 100%;
}

.footerText,
.footerCenter,
.footerLinks {
  padding: 2rem;
  vertical-align: top;
}

.footerText p,
.footerText address {
  line-height: 1.5rem;
  margin: 0 .25rem;
}
.footerLinks a {
  display: block;
}
dd p {
  margin: 0;
  margin-bottom: .25rem;
}

dt {
  font-weight: 600;
}
dt:first-of-type {
  margin-top: 0;
}
dd {
  margin-inline-start: 0;
}
dl div {
  padding: 0.5rem;
}
dl div:nth-child(2n) {
  background-color: #f0f0f0;

}
@media (max-width: 800px) {
  .footerText {
    font-size: 1.5rem;
    text-align: center;
  }
  .footerLinks {
    text-align: center;
    vertical-align: top;
  }
  .footerLinks a {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
}

@media (min-width: 1600px) {
  .footerInner {
    margin: 0 auto;
    width: 1600px;
  }
}
