.pageFooter{
  background-color: #222;
  color: #fff;
  min-height : 64px;
  overflow: hidden;
  position: static;
  bottom: 0;
  left: 0;
}
.pageFooter a {
  color: #fff;
  text-decoration: none;
}

.footerInner {
  width: 100%;
}

.footerText,
.footerCenter,
.footerLinks {
  padding: 2rem;
  vertical-align: top;
}

.footerText p,
.footerText address {
  line-height: 1.5em;
  margin: 0 .25em;
}
.footerLinks a {
  display: block;
}

@media (max-width: 800px) {
  .footerText {
    font-size: 1.5rem;
    text-align: center;
  }
  .footerLinks {
    text-align: center;
    vertical-align: top;
  }
  .footerLinks a {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
}

@media (min-width: 1600px) {
  .footerInner {
    margin: 0 auto;
    width: 1600px;
  }
}
