.buttonGroup {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
}

.buttonGroup button {
  background: none;
  border: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-bottom: .5rem;
}

.buttonGroup button:focus {
  outline: none;
}
.buttonGroup button.active {
  border-bottom: 1px solid #dedede;
}
.buttonGroup button.inactive {

}
