.alternateLink {
  position: relative;
}
.alternateLink:first-of-type {
  margin-left: 0 !important;
}

.alternateLink:last-of-type {
  margin-right: 0 !important;
}

.alternateImage {
  display: block;
  height: 100%;
  width: 100%;
}

.alternateImage img {
  display: block;
  height: auto;
  width: 100%;
}
